/*Colors and fonts*/
body {
background: #F4F3EE;
color: #524948;
font-family: 'Lora', serif;
font-size: 17px;
font-weight: lighter;
}
h1, h2 {
	font-family: 'Roboto', sans-serif;
}
h1 {
	color: #417B5A;
	font-size: 32px;
	font-weight: 900;
}
h2 {
	color: #417B5A;
	font-size: 20px;
	font-weight: 500;
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #2C666E;
	font-weight: 600;
	font-size: 16px;
}

a:hover {
	color: #07393C;
}


@media (max-width: 500px) {
	.div {
		width: 400px;
	}
}

@media (max-width: 760px) {
	.div {
		width: 600px;
	}
}


/*Custom design with class*/

body {
	text-align: center;
}

.div {
	width: 700px;
	margin: 40px auto;
}

.div-1 {
	background: white;
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #2C666E;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: #07393C;
	color: white;
}

.list-inline {
	list-style: none;
	padding: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

#introduction p {
	margin-bottom: 40px;
}